@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
    @apply h-full;
}

html {
    @apply h-full;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border: 5px solid rgb(74 222 128);;
}